# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 546c20d4a35e435f3a6c57f1b2a2a4cf40098196c30a02884ac9ba35c2484a0fcdba17196c127c11f2595e697b4f7127eb05ba1970763c7741cc4ef44d29d0b2

test:
  secret_key_base: 333e84ff2dc74f67615e23154946a0c93038300479a5780bdfd59490796ec4fd4ad994062837761b98773af82bacced3fac93d8b48c3ed34262d0b44c600e90b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
